html {
  scroll-behavior: smooth;
}

body {
  padding-left: 10%;
  padding-right: 10%;
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #363636;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  font-size: 1em;
  /* Increase font size */
}

#myBtn:hover {
  transform: scale(1.05);
}

.register {
  width: 400px;
}

@media all and (max-width: 768px) {
  #midImg {
    width: 128px;
    margin: auto;
  }

  .register {
    width: 100%;
  }
}

.button.is-info {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tbody#leaderboard td {
text-align: center; 
vertical-align: middle;
}